.carrossel{
    width: 100%;
    position: relative;
    margin: 0px;

}

.carrossel img{
    width: 100%;
}

.prev, .next{
    cursor: pointer;
    color: dodgerblue;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 28px;
    font-weight: bold;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.prev:hover, .next:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.379);
    border-radius: 5px;
}

.n_text{
    color: dodgerblue;
    background-color: black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.i_text{
    color: dodgerblue;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.dot{
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    background-color: dodgerblue;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover{
    transition: 0.3s;
    background-color: rgba(30, 143, 255, 0.509);
}

.wall{
    /* Chrome e no Safari*/
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    /* Para outros navegadores*/
    animation-name: fade;
    animation-duration: 1.5s;
}

.dots_box{
    text-align: center;
    margin-top: 20px;
}

/* Para outros navegadores*/
@keyframes fade{
    from{ opacity: 0.4; }
    to{ opacity: 1; }
}

/* Chrome e no Safari*/
@-webkit-keyframes fade{
    from{ opacity: 0.4; }
    to{ opacity: 1; }
}
